body {
    background-color: #007c7c;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 128px;
}

.bio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bio .title {
    font-weight: bold;
    font-size: 25px;
}

.bio img {
    width: 128px;
}
